<title><%= provide(:title, "Home") %></title>

<div class="container">
  <canvas id="myChart" width="1920" height="400" data-labels="<%= @provider_keys %>" data-data="<%= @provider_values %>"></canvas>
</div>