<div class="container">
  <h1>User List</h1>

  <div id="table">
    <table class="table">
      <thead>
      <tr>
        <!-- List JS needs the class "sort" and data-sort="your_column_name" -->
        <th scope="col" class="sort" data-sort="id">#</th>
          <th scope="col" class="sort" data-sort="firstname">First Name</th>
          <th scope="col" class="sort" data-sort="lastname">Last Name</th>
          <th scope="col" class="sort" data-sort="username">Username</th>
      </tr>
      </thead>
      <tbody class="list">
      <% @users.each do |user| %>
      <tr>
        <!-- Each row must have the class of your_column_name used above -->
        <th scope="row" class="id"><%= user.id %></th>
        <td class="firstname"><%= user.name %></td>
        <td class="lastname"><%= user.email %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <%# @users.each do |user| %>
<!--    <tr>-->
<!--      <td><%#= user.name %></td>-->
<!--      <td><%#= user.email %></td>-->
<!--      <td> <%#= link_to 'Show', user %> </td>-->
<!--    </tr>-->
  <%# end %>
</div>
