<div class="container">
  <h1>User List</h1>

  <div id="table">
    <table class="table table-striped" data-sort-name="id" data-sort-order="desc">
      <thead>
      <tr>
        <!-- List JS needs the class "sort" and data-sort="your_column_name" -->
        <th data-field="id" data-sortable="true">#</th>
          <th data-field="name" data-sortable="true">Name</th>
          <th data-field="provider" data-sortable="true">Provider</th>
      </tr>
      </thead>
      <tbody class="list">
      <% @users.each do |user| %>
      <tr>
        <!-- Each row must have the class of your_column_name used above -->
        <th scope="row" class="id"><%= user.id %></th>
        <td class="firstname"><%= user.name %></td>
        <td class="lastname"><%= user.provider %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <%# @users.each do |user| %>
<!--    <tr>-->
<!--      <td><%#= user.name %></td>-->
<!--      <td><%#= user.email %></td>-->
<!--      <td> <%#= link_to 'Show', user %> </td>-->
<!--    </tr>-->
  <%# end %>
</div>

<p></p>
